@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  overflow-x: hidden;
}

h1 {
  font-size: 4.2rem;
  color: #757575;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.2rem;
}

.grid--2-cols {
  grid-template-columns: 80fr 20fr;
}

.section-shop {
  display: grid;
  justify-items: center;
  background-color: #eeee;
}

section {
  width: 100%;
  padding: 3.2rem 3.2rem;
  overflow: hidden;
}
.section-products {
  padding: 0 atuo;
  padding-top: 6.4rem;
  max-width: 120rem;
  margin-bottom: 6.4rem;
  min-height: 100vh;
}

.section-shopping-cart {
  background-color: #ddd;
  min-height: 100vh;
}

footer,
header {
  background-color: #fefefe;
}

footer {
  font-size: 1.4rem;
  text-align: center;
  padding: 3.2rem;
  font-weight: 400;
  opacity: 0.6;
}
/* ///////////////////////////////////// */
/* HEADER */

.sticky {
  position: fixed;
  width: 100%;
  height: 8rem;
}

.header {
  padding: 1.6rem 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 30px 0px rgba(66, 68, 90, 0.2);
  gap: 3.2rem;
}

.logo {
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: -1.5px;
}

.cart-icon {
  width: 2.4rem;
}

.cart-btn {
  position: relative;
  color: #333;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0.6rem;
  border-radius: 100%;
  transition: all 0.5s;
}
.cart-btn:hover {
  color: #111;
  transform: translateY(-0.3rem);
  box-shadow: 0px 0px 30px -15px rgba(66, 68, 90, 1);
}

.cart-notification {
  font-size: 1rem;
  background-color: #d0342c;
  color: #fefefe;
  border-radius: 100%;
  padding: 0.3rem;
  position: absolute;
  top: -1px;
  right: -1px;
  transition: all 0.5;
}

.p-info {
  font-size: 1.4rem;
  transition: all 0.3s;
  position: absolute;
  top: 80px;
  background: #fefefe;
  padding: 1.2rem;
  border-radius: 5px;
  box-shadow: 0px 0px 30px -15px rgba(66, 68, 90, 0.2);
  margin: 0 2.4rem;
}
.opacity {
  font-size: 0.1rem;
  opacity: 0;
}

/* /////////////////////////////////////////// */
/* PRODUCT BOX - SHOP */

.product-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.4rem;
}
.product-box {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 15px 30px -15px rgba(66, 68, 90, 0.15);
}
.product-img-box {
  overflow: hidden;
}
.product-img {
  width: 100%;
  height: 100%;
}
.product-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.8rem;
  padding-bottom: 2.4rem;
  padding-top: 0.8rem;
}
.shoe-name {
  font-size: 3.2rem;
}

.size-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
}
.p-size {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
.select-size,
.select-sort {
  cursor: pointer;
  border: none;
  margin-left: 0.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: inherit;
  border-radius: 5px;
  padding: 0 0.6rem;
  background-color: #fff;
}
.option-size {
  background-color: #fff;
}

.shoe-price {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.buy-btn,
.summary-box button {
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fefefe;
  background-color: #333;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  transition: all 0.5s;
}
.buy-btn {
  width: max-content;
  align-self: center;
}
.buy-btn:hover,
.summary-box button:hover {
  background-color: #fefefe00;
  color: #333;
  box-shadow: 0px 0px 30px -15px rgba(66, 68, 90, 0.5);
  transform: translateY(-0.3rem);
}
.buy-btn:active,
.summary-box button:active {
  background-color: #fefefe00;
  color: #555;
  box-shadow: 0px 0px 30px -10px rgba(66, 68, 90, 1);
  transform: translateY(-0.3rem);
}

.sort-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2.4rem;
}

.sort-box {
  display: flex;
  align-items: center;
}
.sort-box p {
  font-size: 1.6rem;
}
.form-search {
  justify-self: end;
}
.input-search {
  font-size: 1.8rem;
  padding: 0.3rem 1.2rem;
}

/* ///////////////////////////////// */
/* SHOPPING CART */

.section-shopping-cart h2 {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  text-align: center;
}
.section-shopping-cart h3 {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

.products-in-cart-boxes {
  height: 45vh;
  overflow-y: scroll;
  box-shadow: 0px 20px 30px 0px rgba(66, 68, 90, 0.1);
  margin-bottom: 1.8rem;
  border-radius: 10px;
  padding: 0.8rem;
  scrollbar-width: thin;
  scrollbar-color: #888 #eee;
}

.products-in-cart-boxes::-webkit-scrollbar {
  width: 2px;
}

.products-in-cart-boxes::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 10px;
}

.products-in-cart-boxes::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.products-in-cart-boxes::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.products-in-cart {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-bottom: 1.8rem;
}
.product-in-cart {
  display: grid;
  grid-template-columns: repeat(2, 50fr);
  gap: 1.2rem;
  box-shadow: 0px 0px 30px 0px rgba(66, 68, 90, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.product-in-cart-text {
  display: grid;
  padding: 0.6rem 0;
}
.in-cart-name {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.in-cart-price {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.in-cart-size {
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
}

.quantity {
  display: flex;
  align-self: end;
}
.quantity p {
  font-size: 1.4rem;
}
.reset-orders,
.add-promo,
.quantity input,
.quantity button,
.promotion-input,
.input-search {
  border: none;
  border-radius: 5px;
  font-family: inherit;
}
.quantity input {
  width: 2.4rem;
  background-color: #fefefe;
  padding: 0 0.3rem;
  margin-left: 0.4rem;
}
.quantity button {
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0 0.6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.quantity button:hover {
  background-color: #ddd;
  font-size: 1.2rem;
  padding: 0.1rem 0.64rem;
}
.promotion-box {
  margin-bottom: 1.8rem;
}
.form-promo {
  display: grid;
  grid-template-columns: 80fr 20fr;
}
.add-promo,
.promotion-input {
  font-size: 1.8rem;
  padding: 0.3rem 0.6rem;
  width: 100%;
}
.reset-orders,
.add-promo {
  cursor: pointer;
  transition: all 0.3s;
}
.reset-orders:hover,
.add-promo:hover {
  background-color: #ddd;
}
.reset-orders:active,
.add-promo:active {
  box-shadow: 0px 0px 30px -15px rgba(66, 68, 90, 0.5);
}

.summary-box {
  display: flex;
  flex-direction: column;
}

.price-all {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  opacity: 0.6;
}

.empty-cart {
  opacity: 0.4;
}

.reset-orders-box {
  margin-top: 4.8rem;
  text-align: end;
}
.reset-orders {
  padding: 0.8rem;
  border-radius: 5px;
}
/*  */
input:focus,
select:focus,
option:focus {
  outline: none;
  box-shadow: 0 0 1px 0.4rem rgba(66, 68, 90, 0.1);
}
